/**鎵�湁椤甸潰鍒濆鍖栨牱寮�*/
html,body,div,form,ul,ol,li,dl,dt,dd,p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: /*"Helvetica Neue",*/ "Microsoft YaHei", "PingHei","Hiragino Sans GB", "Lucida Grande", "WenQuanYi Micro Hei", "Helvetica","Arial","Verdana","sans-serif";
}
table{
	border-collapse:collapse;
	border-spacing: 0;
}
img {
	border: 0 solid #FFF;
	cursor: pointer;
	vertical-align: middle;
}

label {
	background-color: #FFF;
	background-image: none;
	font-size: 12px;
	width: 80px;
}

radio {
	background-color: #000;
	border: 1px solid #FFF;
	font-family: Arial, Vendera, Tahoma;
	margin: 1px;
	padding: 1px;
	width: auto;
}

a {
	color: #636365;
	font-size: 12px;
	text-decoration: none;
}

a:active {
	color: #636365;
}

a:HOVER {
	color: #000;
	text-shadow: #000;
}

