body, html, div,form,table {padding:0px;margin:0px;}
html {
    font-size: 62.5%
}
html,body,form {
    height: 100%;
}
body {
	
	font-size: 1.4rem;
	font-family:"Microsoft YaHei","PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif";
	scrollbar-3dlight-color:#f2f2f2;
	scrollbar-arrow-color:#006699;
	scrollbar-base-color:#f8f8f8;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-face-color:#f2f2f2;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#595959;
	scrollbar-track-color:#fefefe;
	background:url(../images/login/login_bg.png) center center no-repeat #1690db;
	
}
img{border:0px;}
ul{ margin:0; padding:0; display:block;list-style-type:none;}
li{margin:0; padding:0; display:block; }	
a:link{text-decoration:none; color:#4c4c4c;}
a:hover{text-decoration:none; color:#4c4c4c;}
a:visited{text-decoration:none; color:#4c4c4c;}
.loginBg{behavior: url(portal/share/css/iepngfix.htc);}
.container{width:100%; height:100%;}
.language{position:absolute; right:50px; top:25px;height:30px;line-height:30px;}
.language span{display:block; float:left;color:#ffffff;}
.language select{display:block; float:left;width:94px; height:24px;line-height:24px; border:1px solid #4d4d4d;}

.login{/*position:absolute;top:217px; left:266px; width:480px; height:241px; padding:20px 10px 15px 15px;*/ color:#4c4c4c;z-index:99;}
.login-box .login .logo {width:593px;padding-top: 15px;margin-bottom: -12px;}
.login-box{position:relative;margin:0 auto;padding-bottom:30px;}
.login-box .login .logo .logo-pic {
	width:593px;
	height:51px;
	text-align:left;
	overflow: hidden;
	background:url(../images/logo/login_logo.png) left top no-repeat;
	_background-image: none; /* IE6 */
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='portal/share/images/login/login_logo.png'); /* IE6 */
}
.login-box .login .logo .logo-pic img{
	_border:none;
	behavior: url(portal/share/css/iepngfix.htc);
}
.login-box .login .logo .title {text-align: center;font-size: 20px;color: #7b7b7b;margin: 15px 0 20px 0;}
.titleName{width:170px; margin-right:15px;}
.titleName li{text-align:center;}
.english{font-size:22px;}
.chinese{font-size:18px;font-weight:bold;}
.loginInfo{width:593px;height:110px;    position: relative;}
.loginInfo span{display:block; float:left; text-align:left;}

.domainLi{position:relative;height:40px;z-index:100;}
.selectdoMain{height:40px;}
.selectdoMain input{background:url(../images/login/select-more.png) 98% center no-repeat #fff !important;}
.domain{position:absolute;width:220px;overflow:auto;left:0px;top:44px;border:1px solid #4d4d4d;display:none;background:#ffffff;}
.domain li{height:35px;line-height:35px;text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.domain li a{padding-left:5px;display:block;}
.domain li a:hover{padding-left:5px;display:block;background:#e3e3e3;}

/*.userName,.password,input{background:url(../images/login/input.png) no-repeat 100% 0%;display:block;float:left;margin-top:3px; border:0; width:182px; padding:0 5px; height:26px; line-height:26px; _vertical-align:middle;}*/
*+html input{vertical-align:middle;}
.checkCode{width:220px;}
.checkCode input{display:block;float:left;padding-left:10px;width:210px;height:40px;line-height:40px;background:#fff;_border:none;}
.checkCode img{display:block;float:left;margin-top:9px;position: absolute;right: 45px;}
.checkCode .invisibility{position: absolute;right: 2px;width:43px;text-decoration: underline;display: inline;color:#F85A5A;cursor: pointer;margin-top:15px;}
.keepInfo{ _margin-top:1px;height:20px;line-height:20px;text-align:left;width:280px;margin:0 auto;color:#b4b4b4;font-size:1.4rem; display: none;}
.keepInfo input{display:block;float:left;margin-right:3px;width:14px; height:14px; vertical-align:middle; padding:0;border: 1px solid #e1e1e1;background:none;}

.tipsArea{height:22px!important;line-height:22px!important;_height:20px!important;_line-height:20px!important;padding-left:55px;text-align:left!important;word-spacing:-1px;_word-spacing:0;overflow: hidden;visibility: visible;}
*+html .tipsArea{word-spacing:0;}
.btnOk{/*padding-left:60px;margin-top:10px;*/width:113px;position: absolute;top: 0;right: 13px;}
* html .btnOk{_right: 3px;}/*閸忕厧顔恑e6*/
.loginBtn{display:block; background:url(../images/login/loginBtn.png) no-repeat; width:101px; height:33px; line-height:33px; text-align:center;}
.copyright{width:100%;position:absolute; bottom:5px; text-align:center;margin:0 auto;color:#fff;font-size:1.2rem;}
.copyright span{font-family: Helvetica,Arial, sans-serif;background:url(../images/login/logo.png) no-repeat;_background:url(../images/login/logo.gif) no-repeat; padding-left:15px;}

/********************Proxy user login style start********************/
.userTypeLi{height:60px;padding-left:30px;line-height:22px;text-align:left;}
.userTypeLi{display:none;}
.userTypeSpan{display:block;width:100%!important;text-align:left!important;font-weight:bold;color:#06547a;}
.userTypeLi input{background:none;width:23px!important;height:23px!important;vertical-align:middle;padding:0!important;margin:0!important;}
.userTypeLi label{background:#ffffff;display:block;float:left;width:55px;height:23px;}
.proxyShow{height:60px;padding-left:30px;text-align:left;padding-top:15px!important;}
.proxyShowSpan{width:auto!important;line-height:30px;font-weight:bold;color:#06547a;}
.operationLi{padding-left:30px;}
.operationLi input{display:block; background:url(../images/login/loginBtn.png) no-repeat; width:101px; height:33px; line-height:33px; text-align:center;}
/********************Proxy user login style end********************/

/********************login閿燂拷閿熸枻鎷峰紡********************/
#login-box{ margin:-9000px auto 0;}
.login-box .login .form-group {width: 220px;font-size: 14px;background: none;line-height: 26px; color:#b4b4b4;position: relative;margin-right:5px;}
.login-box .login .code-group {width: 350px;font-size: 14px;margin: 0 auto 20px auto;background: none;line-height: 26px;position: relative;}
.login-box .login .form-group i {position: absolute;top: 9px;padding: 0 15px;text-align: center;color: #b4b4b4;font-style: normal;}
.login-box .login .form-group .form-control {background: #fff;color: #000;width: 170px;border: 1px solid #e1e1e1;height: 40px;line-height: 40px\9;*line-height: 40px;padding-left: 50px;}
.login-box .login .form-group input[type="text"],.login-box .login .form-group input[type="password"] {font-family: inherit;font-size: inherit;/*line-height: inherit;*/*display: inline-block;border-radius: 4px; -webkit-border-radius: 4px;-moz-border-radius: 4px;behavior: url(portal/share/css/PIE.htc);    border: 1px solid #276da2;}
.login-box .login .keepInfo input[type="checkbox"] {font-family: inherit;font-size: inherit;*display: inline-block;border-radius: 6px; -webkit-border-radius: 6px;-moz-border-radius: 6px;behavior: url(portal/share/css/PIE.htc);}
.login-box .login .form-group .Password_forget {color: #b4b4b4;display: block;padding-top: 10px;}
.login-box .login .form-group .Password_forget span a {color: #b4b4b4}
@font-face {font-family: "iconfont";src: url("../script/bootstrap/fonts/iconfont.eot");src: url("../script/bootstrap/fonts/iconfont.eot?#iefix") format("embedded-opentype"),url("../script/bootstrap/fonts/iconfont.woff") format("woff"),url("../script/bootstrap/fonts/iconfont.ttf") format("truetype"),url("../script/bootstrap/fonts/iconfont.svg#iconfont") format("svg");}
.iconfont {font-family: "iconfont" !important;font-size: 20px;font-style: normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;color: #FFFFFF;font-weight: normal;}
.code {text-align: center;padding: 75px 0px 20px 0px}
.login-box .login .btn-login {display: block;color: #fff;width: 113px;height: 43px;font-size: 18px;margin: 0 auto 0;cursor: pointer;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;behavior: url(portal/share/css/PIE.htc);background-color: #65b400;border:none;}
.login-box .login .checkCode .form-group { width: 222px;}
/********************鏍￠敓鏂ゆ嫹閿熸枻鎷风ず閿熸枻鎷烽敓鏂ゆ嫹寮�*******************/
.tipsdiv_Domain{
	text-align: left; 
	display: none; 
}
.tipsdiv_name{
	position:absolute;
	text-align: left; 
	display: none; 
	z-index:9999;
}
.tipsdiv-pass{
	position:absolute;
	text-align: left; 
	display: none; 
	z-index:9999;
}
.tipsdiv-code{
	position:absolute;
	text-align: left; 
	display: none; 
	z-index:9999;
}
.easytip-text{
	text-align: left; 
	padding: 10px; 
	width: 200px; 
	font-size:1.4rem;
	color: #8b6d38; 
	border: 1px solid #fbebcb;
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/*behavior: url(portal/share/css/PIE.htc);*/
	background-color: #fdf8e2;
	z-index:99;
}
.easytip-arrow{
	position:relative;
	top:1px;
	_top:5px;
	padding: 0px; 
	margin: 0px; 
	width: 220px; 
	height: 6px;
	background:url(../images/login/jianjiao.png) 15px center no-repeat;
	_background:url(../images/login/jianjiao.gif) 15px 5px no-repeat;/*ie6*/
	
}
.loginInfo li{
	position:relative;
	float:left;
	margin-right:5px;
	margin-top:3px;
}
.loginInfo li.btnOk {
    position: absolute;
}
.loginInfo li.zIndex98{
	z-index:98;
}

.skinSelectTxt{
	background:#fff;
	font-size:20px;
	color:#983333;
	text-align:center;
	height:50px;
	display:none;
}
.skinSelectTxt td{
}
.skinSelectTxt td .upchrome {
	vertical-align: middle;
	margin:0px 10px;
}
  
.skinSelectBtn{
	background:#f8f8f8;
	font-size:12px;
}
.skinSelectBtn td{
	padding:10px 0px;
}

/*娴狅絿鎮婇惂濠氭*/
.agent-box {position: relative;margin: 0 auto;padding-bottom: 0px;border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;}
.agent_con .top{text-align:center;margin-bottom:30px;}
.agent_con .title{margin:0;padding:0;}
.agent_con .title a{display: block;color:#d3d3d3;width: 60px;height: 22px;line-height: 22px;text-align: center;margin: 0 auto; border:1px solid #d3d3d3;border-radius: 4px; -webkit-border-radius: 4px;-moz-border-radius: 4px;behavior: url(portal/share/css/PIE.htc);}
.agent_con .title a .dai-return{font-size:12px;color:#d3d3d3;}
.agent_con i.icon{color:#ababab;}
.a-return{ font-size:14px;cursor: pointer;}
.dai-return{ color:#ababab;}
.xuanzeTitle{text-align:center;margin-bottom:30px;font-size:16px;color:#fff;}
.xuanze{ text-align:center;}
.xuanze a{ float:left;text-align:center; margin:0 12px; cursor: pointer; }
.xuanze a .perImg{transition: .5s;-moz-transition: .5s; -webkit-transition: .5s; -o-transition:.5s;}
.xuanze a:hover .perImg{box-shadow: 0px 0px 2px #b8ddfe;}
.xuanze a:hover p{color:#b8ddfe; }
.xuanze .perImg{width:74px;height:74px;margin:0 auto;text-align:center;overflow:hidden;border-radius: 74px;-webkit-border-radius: 74px;-moz-border-radius: 74px;}
.xuanze .perImg img{max-width:100%;margin:0 auto;overflow:hidden;}
.xuanze .p_self{color:#fff; font-size:14px;    width: 74px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.xuanze .p_user{color:#fff; font-size:14px;width: 74px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
/*闁挎瑨顕ら幓鎰仛*/
.errorCon{width:100%;position:absolute;top:30px;_top:138px;padding:0;margin:0; border:none;}
.errorMsg{margin:0 auto;padding:10px;width:320px;text-align:center;color: #aa4642;font-size: 14px;
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	behavior: url(portal/share/css/PIE.htc);
	background-color: #f2dede;
	border:none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.5);
    box-shadow: 0 0px 4px rgba(0,0,0,.5);
}