body, a, table, div, span, td, th, input, select{
	font:9pt;
	font-family: "ו", Verdana, Arial, Helvetica, sans-serif;
}
body {
	padding:5px
}
table.content {
	border-color:#000000;
	width:100%;
}
table.content td {
	border-color:#000000;
	vertical-align:middle;
	cursor:hand;
}
.card {
	cursor:hand;
	background-color:#3A6EA5;
	text-align:center;
	white-space:nowrap;
	font-size: 12px;
}
.srchbt { 
	background-image: url(../../../../images/search.gif); 
	background-repeat: no-repeat; 
	height: 18px; 
	width: 18px; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	background-color: #FFFFFF; 
	cursor: hand 
}
table{
	border-color: #000000;
	border-collapse: collapse;
	background-image: none;
	border-top: 0px solid #000000;
}

