.menu {
	
 BORDER-RIGHT: #424142 2px solid; 
 BORDER-TOP: #ffffff 2px solid; 
 BORDER-LEFT: #ffffff 2px solid; 
 COLOR: #000000; 
 BORDER-BOTTOM: #424142 2px solid; 
 BACKGROUND-COLOR: #e7e7e7
}
.link{font-family:ו}
.overlink{background-color:#08386b;color:highlighttext;font-family:ו;cursor:default;border:0}
div{font-family:ו;font-size:9pt;cursor:default}
.radio {background-color:#ffffff; border-color:#ffffff}
.radio1 {background-color:#00ffff; border-color:#00ffff}
.radio2 {background-color:#e6e6e6; border-color:#e6e6e6}
.radiored {background-color:#ff0000; border-color:#ff0000}