audio:not([controls]) {
    display: block !important;
}
.record-box {
	display:-moz-box;
	display:-webkit-box;
	display:box
}
.record-box .btn-sound-delete {
	display:block;
}
.record-box .btn-sound-delete .icon {
	font-size:24px;
	border-radius:100px;
	padding:3px;
	margin:3px
}
.record-box .sound-delete-box {
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	z-index:9999;
	width:300px;
	height:auto;
	background:#fff;
	border-radius:4px;
	padding:10px;
	border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.record-box .sound-delete-box .header {
	font-size:17px;
	line-height:34px;
	color:#000;
	font-weight:500
}
.record-box .sound-delete-box .contenter p {
	color:#333;
	margin-bottom:10px;
}
.record-box .sound-delete-box .foot {
	border-top:1px solid #ddd;
	padding-top:8px
}
.record-box .sound-delete-box .foot a{
	float:right;
}
.record-box .sound-delete-box .foot .red {
	color:#f8282f
}
.record-box .sound-delete-box .foot .gay {
	color:#777
}