html {min-height:100%; height:100%; overflow:auto;background:#f7f7f7;}
#if_right,#con_right { _display: inline;min-height: 100%; height: auto; padding:0px;}
#if_right iframe,#con_right iframe {width: 100%;height: 100%;_display: inline; }
#right { min-height: 100%;background:#f7f7f7;  }


.mail { _display: inline; margin: 15px 0 0 15px; background-color: #FFFFFF; border: 1px solid #E3E3E3; height: 100%; width:130px; float:left}
.mail .title { font-size:24px; color:#3497db; text-align:center; height:45px; line-height:45px;}
.mail .content { height:100%;}
.mail .content li { height:50px; position:relative;}
.mail .content li a { height:50px; line-height:50px; padding:0px 15px;font-size:16px; color:#6b6b6b; display:block}
.mail .content li a:hover ,.mail .content li.active a { background-color:#f7f7f7;  color:#22aae9}
.mail .content li a i { height:16px; width:16px; display:block; position:absolute; top:17px; }
.mail .content li a i.icon-write { background:url(../images/ico_act.png) no-repeat -112px 0}
.mail .content li a:hover i.icon-write,.act .content li.active a i.icon-write{ background-position:-112px -16px}
.mail .content li a i.icon-mail { background:url(../images/ico_act.png) no-repeat -80px 0}
.mail .content li a:hover i.icon-mail,.act .content li.active a i.icon-mail{ background-position:-80px -16px}
.mail .content li a i.icon-draft { background:url(../images/ico_act.png) no-repeat -128px 0}
.mail .content li a:hover i.icon-draft,.act .content li.active a i.icon-draft{ background-position:-128px -16px}
.mail .content li a i.icon-send { background:url(../images/ico_act.png) no-repeat -144px 0}
.mail .content li a:hover i.icon-send,.act .content li.active a i.icon-send{ background-position:-144px -16px}
.mail .content li a i.icon-del { background:url(../images/ico_act.png) no-repeat -160px 0}
.mail .content li a:hover i.icon-del,.act .content li.active a i.icon-del{ background-position:-160px -16px}
.mail .content li a i.icon-trash { background:url(../images/ico_act.png) no-repeat -176px 0}
.mail .content li a:hover i.icon-trash,.act .content li.active a i.icon-trash{ background-position:-176px -16px}    
.mail .content li a span { margin-left:26px;}


/*----------write---------*/

.crm_right { margin:0px; padding:0 15px 15px 15px;}
.crm_right .searchDiv { margin-bottom:15px ; padding: 15px; }
.crm_right .searchDiv .nav { padding:0px}
.crm_right .searchDiv .nav a { font-size: 16px; text-indent:0px; color: #FFFFFF; margin-right:0px; padding:10px 20px;line-height: 200%;}
.crm_right .searchDiv .nav a.ico-new { background: #337ab7  }
.crm_right .searchDiv .nav a.ico-del { background: #d9534f  }
.crm_right .searchDiv .nav a.ico-new:hover { background-color: #284C6B }
.crm_right .searchDiv .nav a.ico-del:hover { background-color: #803836 }
.crm_right .searchDiv .nav span { font-size: 14px; color: #a7a7a7; display: block; height: 42px; line-height: 42px; margin-right: 0px; }




.crm_right .dataTable { padding:15px ;margin: 15px 0 0 0; background-color: #FFFFFF; border: 1px solid #E3E3E3; }
.crm_right .dataTable .write_content { width:100%}
.crm_right .dataTable .write_content td { border:none;  font-size:14px; color:#a7a7a7}
.crm_right .dataTable .write_content .mail-title { width:15%}
.crm_right .dataTable .write_content .form-group { margin:0px; padding:0px}
.crm_right .dataTable .write_content .form-group .btn { margin:0px; padding:0px}
.crm_right .dataTable .write_content .form-group select { height:34px}
.crm_right .dataTable .write_content .mail-ps { color:#dd0000}
.crm_right .dataTable .form-group .form-control  {float: none;width:70%;margin-bottom: 0; position:inherit; z-index:inherit;}
.crm_right .dataTable .form-group input.form-control{ float:left;border: 1px solid #E3E3E3; padding:0px; line-height:36px}
.crm_right .dataTable .form-group span.input-group-btn { padding:0px; margin:0px; height:36px; display:block}
.crm_right .dataTable .form-group button.btn{ height:34px}
.crm_right .dataTable .write_content .row { margin:0px}
.crm_right .dataTable .write_content .col-xs-6 { margin:0px; padding:0px}


/*----------mail---------*/

#mail-body .searchDiv .title-text{ font-size:14px; color:#a7a7a7; margin-bottom:15px}
#mail-body .searchDiv .title-text i{ color:#ee8c0c;}
#mail-body .searchDiv .form-group .btn{ height:36px; margin-right:10px;}
#mail-body .searchDiv .form-group {margin-bottom: 0px;}
#mail-body .searchDiv .form-group .form-control { height:36px; padding:3px}
#mail-body .searchDiv .pagination {margin:0px 10px 0 0}
#mail-body .searchDiv .pagination a{height:36px; line-height:36px}
#mail-body .searchDiv .pagination li{width:36px;_height:36px;float: left;_border: solid 1px #ccc;text-align: center;}
#mail-body .searchDiv .form-group { color:#a7a7a7; }
#mail-body .searchDiv .form-group .input-group {position: relative;}
#mail-body .searchDiv .form-group input.form-control { float: none;height:34px;_height: 35px; width:77px;padding:0 5px}
#mail-body .searchDiv .form-group span.input-group-btn {position:absolute;top: 0px;right: 0px; z-index: 10;width: auto;margin-top: 1px}
#mail-body .searchDiv .form-group label {height:36px; line-height:36px; font-size:14px; font-weight:normal;}
#mail-body .searchDiv .form-group .input-box-con { width:30%; margin-right:10px;}
#mail-body .searchDiv .form-group .mail_search label {float: left;}
#mail-body .searchDiv .form-group .mail_search .form-control {width:auto; display:inherit;float: left;}





.dataTable table { width: 100%; margin:0px; padding:0px }
.dataTable td { border: solid 1px #e5e5e5; padding: 10px 0px }
.dataTable .listDataTh a, .dataTable .listDataTh { font-size: 16px; color: #606060; line-height: 180%; background-color: #efefef }
.dataTable .listDataTr a, .dataTable .listDataTr { font-size: 14px; color: #a7a7a7; line-height: 180%; }
.dataTable .listDataTr_over a, .dataTable .listDataTr_over { font-size: 14px; color: #22aae9; line-height: 180%; }
.dataTable_Th { margin: 0; background-color: #FFFFFF; box-shadow: 1px 1px 3px #C5C5C5; }
.dataTable_Th table { width: 100% }
.dataTable_Th td { border: solid 1px #e5e5e5; padding: 10px 0px }
.dataTable_Th .listDataTh a, .dataTable_Th .listDataTh { font-size: 16px; color: #606060; line-height: 180%; background-color: #efefef }
.dataTable_Th .listDataTr a, .dataTable_Th .listDataTr { font-size: 14px; color: #a7a7a7; line-height: 180%; }
.dataTable_Th .listDataTr_over a, .dataTable_Th .listDataTr_over { font-size: 14px; color: #22aae9; line-height: 180%; }

.pagination li a, .pagination li span { color: #a7a7a7 }

.crm_right .btn-myapp { border-color: #03a9f4; width: 40px; height: 34px; background: url(../images/search.png) #03a9f4 no-repeat center center }
