* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    background: #f6f7fb;
    font-size: 14px;
    font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif","PingHei", "Lucida Grande", "Helvetica","Arial","Verdana";
}

a { 
	outline: none;
	text-decoration: none; 
	color: #000; 
	cursor: pointer 
}


a:focus, a:hover { 
	text-decoration: none; 
}

a:active {
	star:expression_r(this.onFocus=this.blur());
}


#backBlur {
    background: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#zoomBtn {
	position: fixed;
    bottom: 3px;
    left: 189px;
    color: #7B7B7B;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    z-index: 11;
    transition: 0.3s ease-out;
}

.modal-body{ 
	font-size:16px;text-align:center;
}
.modal-header .modal-title .glyphicon{
	color:#f00;
	font-size:28px;
} 
.modal-content{
	width:400px;
	margin:0 auto;
}
.modal-footer button a{ 
	color:#fff;
}



#wrapper {
    width: 100%;
}

#wrapper>.header {
	position: fixed;
	top: 0px;
    width: 100%;
    height: 60px;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0c87ef',endColorStr='#0c85bc',gradientType='1');
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#0c87ef), to(#0c85bc));
    background: -o-linear-gradient(to right,#0c87ef, #0c85bc);
    background: -moz-linear-gradient(to right,#0c87ef, #0c85bc);
    background: linear-gradient(to right,#0c87ef, #0c85bc);
    line-height: 59px;
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 1000;
}

#wrapper>.header .header-inner {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#wrapper>.header .navbar-item {
    display: inline-block;
}

#wrapper>.header .logo {
    width: 188px;
}

#wrapper>.header .logo>img {
    
}

#wrapper>.header .navbar-tabs {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#wrapper>.header .navbar-tabs-panel {
    overflow: hidden;
    position: relative;
}

#wrapper>.header ul.navbar-tabs-ul {
    margin-bottom: 0px;
    color: #ffffff;
    display: inline-block;
    transition: left 0.3s;
    -moz-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
}

#wrapper>.header ul.navbar-tabs-ul>li.selected, 
#wrapper>.header ul.navbar-tabs-ul>li:hover {
    background-color: rgb(4, 119, 204);
}
#wrapper>.header ul.navbar-tabs-ul>.navbar-tabs-item {
    margin-right: -5px;
    padding-left: 15px;
}
#wrapper>.header ul.navbar-tabs-ul>li {
    display: inline-block;
}

#wrapper>.header ul.navbar-tabs-ul>.navbar-tabs-item.selected:after, 
#wrapper>.header ul.navbar-tabs-ul>.navbar-tabs-item:hover:after {
    border-right: 1px solid transparent;
}
#wrapper>.header ul.navbar-tabs-ul>.navbar-tabs-item:after {
    content: "";
    display: inline-block;
    border-right: 1px solid #056CB7;
    height: 16px;
    margin-left: 10px;
    vertical-align: middle;
}

#wrapper>.header .navbar-tabs-item>a>.nav-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

#wrapper>.header .navbar-tabs-item>a.tab-btn-close {
    margin-left: 10px;
    width: 11px;
}
#wrapper>.header .navbar-tabs-item:hover>a.tab-btn-close .fa {
    display: inline-block;
}
#wrapper>.header .navbar-tabs-item>a.tab-btn-close .fa {
    display: none;
}
#wrapper>.header .navbar-tabs-item>a {
    display: inline-block;
    color: #ffffff;
    vertical-align: bottom;
}

#wrapper>.header .navbar-tabs-panel {
    overflow: hidden;
    position: relative;
}

#wrapper>.header #navbar-tabs-preview {
    width: 46px;
    position: relative;
    cursor: pointer;
    padding-left: 15px;
    display: inline-block;
}

#wrapper>.header #navbar-tabs-preview:hover {
    background-color: rgb(4, 119, 204);
}

#wrapper>.header #navbar-tabs-preview>a {
    display: inline-block;
    color: #ffffff;
}

#wrapper>.header #navbar-tabs-preview div.iconfont-h5 {
    line-height: normal;
    font-size: 20px;
}

#wrapper>.header #navbar-tabs-preview .badge {
    position: absolute;
    top: 12px;
    right: 0px;
    color: #A2A2A2;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 3px 6px;
}

#wrapper>.header .navbar-menu .top-user {
    display: inline-block;
}

#wrapper>.header .navbar-menu .top-user img {
    border-radius: 4px;
    width: 30px;
}

#wrapper>.header .navbar-menu .top-user .user-box {
    padding-left: 15px;
    padding-right: 15px;
}

#wrapper>.header .navbar-menu .top-user .user-box.open {
    background-color: #2197dd;
}

#wrapper>.header .navbar-menu .top-user .dropdown-menu, 
#wrapper>.header .navbar-menu .top-tool-bar .dropdown-menu {
    border-radius: 0px;
    margin: 0px;
    border-top: 0px;
    right: -1px;
    background-color: #2197dd;
}

#wrapper>.header .navbar-menu .top-user .dropdown-menu>li>a, 
#wrapper>.header .navbar-menu .top-tool-bar .dropdown-menu>li>a {
    color: #ffffff;
}

#wrapper>.header .navbar-menu .top-user .dropdown-menu>li>a:focus, 
#wrapper>.header .navbar-menu .top-user .dropdown-menu>li>a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #1680ba;
}

#wrapper>.header .navbar-menu .top-user .dropdown-menu>li>a>span, 
#wrapper>.header .navbar-menu .top-tool-bar .dropdown-menu>li>a>span {
    margin-right: 10px;
}

#wrapper .sidebar{
	border-right: 1px solid #d5d9dc;
	font-size: 14px;
    background-color: #fff;
    position: fixed;
    top: 60px;
    bottom: 0px;
    padding: 0px;
    width: 190px;
    z-index: 10;
    transition: 0.3s ease-out;
}


#wrapper .sidebar #tabs_menu {
    padding-top: 15px;
}

#wrapper .sidebar #tabs_menu>li {
    border-left: 0px;
    color: #707485;
    background-color: transparent;
    position: relative;
    border-left: 3px solid rgba(0, 0, 0, 0);
}

#wrapper .sidebar #tabs_menu>li:hover,
#wrapper .sidebar #tabs_menu>li.active {
    border-left: 3px solid #0d87e5;
}

#wrapper .sidebar #tabs_menu>li:hover a, 
#wrapper .sidebar #tabs_menu>li:hover a h5,
#wrapper .sidebar #tabs_menu li:hover a i,
#wrapper .sidebar #tabs_menu>li.active a, 
#wrapper .sidebar #tabs_menu .menu-second {
    background-color: #fcfcfc;
    color: #2a91da;
}



#wrapper .sidebar #tabs_menu li a {
    padding-right: 10px;
    color: #0d87e5;
    display: block;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
}



#wrapper .sidebar #tabs_menu li a i {
    font-size: 18px;
    color: #848484;
    width: 55px;
    text-align: center;
    display: inline-block;
    text-indent: -3px;
}

#wrapper .sidebar #tabs_menu li h5 {
    display: inline;
    font-size: 14px;
    color: #767676;
}

#wrapper .sidebar #tabs_menu li.active>a>i, 
#wrapper .sidebar #tabs_menu li.active>a>h5 {
    color: #4d9ad0;
}

#wrapper .sidebar #tabs_menu .menu-second li a {
    padding: 0 0 0 55px;
    color: #707485;
    background-color: transparent;
}

#wrapper .sidebar #tabs_menu .menu-second li:hover a,
#wrapper .sidebar #tabs_menu .menu-second li.active a {
    color: #4d9ad0;
}

#wrapper .sidebar #tabs_menu .menu-second-pop {
    position: absolute;
    left: 51px;
    z-index: 10;
    top: -1px;
    width: 190px;
    border: 1px solid #ccc;
    border-left: 0px;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px rgba(0,0,0,.15);
}
#wrapper .page-wrapper{
	position: relative;
    margin: 0px 0 0 190px;
    transition: 0.3s ease-out;
    top: 60px;
}

#wrapper  #tabs .tabs-item-wrapper{
	height: 100%;
    width: 100%;
}

#tabsPreview {
    position: fixed;
    z-index: 1001;
    overflow: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    display: none;
    margin-bottom: 0px;
}

#tabsPreview iframe{
  transform: scale(0.333333);
  width: 900px;
  position: absolute;
  left: -300px;
  top: -200px;
  height: 600px;
}

#tabsPreview .nav-closeAll {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    z-index: 1200;
    left: 0px;
}

#tabsPreview a.nav-closeAll-btn {
    background-color: #D86767;
    color: #fff;
    padding: 10px;
    width: 240px;
    display: block;
    margin: 0px auto;
}

#tabsPreview .tabs-preview-panel li {
    width: 300px;
    height: 200px;
    float: left;
    margin: 20px 15px;
    transition: box-shadow .2s ease-out;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    background: #ccc;
    position: relative;
    list-style-image: none;
    list-style-type: none;
}

#tabsPreview .tabs-preview-panel li:hover {
    transition: box-shadow .15s ease-in;
    box-shadow: 0 30px 30px rgba(0,0,0,0.3);
}

#tabsPreview .tabs-preview-panel li a {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
}

#tabsPreview .tabs-preview-panel .status-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#tabsPreview .tabs-preview-panel span.status {
    display: none;
}

#tabsPreview .tabs-preview-panel .active span.status {
    display: block;
    position: absolute;
    left: -42px;
    top: 12px;
    background: #2BAF00;
    box-shadow: none;
    transform: rotate(-45deg);
    width: 140px;
    font-size: 12px;
    color: #fff;
}

#tabsPreview .tabs-preview-panel li a div.nav-title {
    color: #FFFFFF;
    display: block;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -30px;
    font-weight: bold;
}

#tabsPreview .tabs-preview-panel li span, 
#tabsPreview .tabs-preview-panel li i {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgb(151, 151, 151);
    font-size: 14px;
    border-radius: 100px;
    padding: 8px;
    z-index: 10;
    cursor: pointer;
    color: #fff;
}


.zoom-s	#zoomBtn {
	left: 54px;
}
.zoom-s	#wrapper .sidebar {
	width: 55px;
}
.zoom-s	#wrapper .sidebar #tabs_menu li a i {
    display: block;
}
.zoom-s	#wrapper .sidebar #tabs_menu li h5{ 
	display: none; 
}
.zoom-s	#wrapper .page-wrapper {
    margin: 0px 0 0 55px;
}

@-webkit-keyframes fadeInRightMain{
	0%{
	opacity:0;-
	webkit-transform:translateX(40px);
	-ms-transform:translateX(40px);
	transform:translateX(40px)
	}
	100%{
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
	}
}
@keyframes fadeInRightMain{
	0%{
	opacity:0;
	webkit-transform:translateX(40px);
	-ms-transform:translateX(40px);
	transform:translateX(40px)
	}
	50%{
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
	}
	
}
.fadeInRightMain{
	-webkit-animation:fadeInRightMain .1s;
	animation:fadeInRightMain .1s;
}

#container {
	position: relative;
}

#activityTable {
    background-color: #FFFFFF;
    border-top: 0px;
    border-bottom: 1px solid #d5d9dc;
    padding: 10px;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 10;
}

#activityTable .btn{
	margin-right: 4px;
	padding: 6px 20px;
}

.search-active-panel .form-group{
	margin-right: 4px;
}

.contentPanel{
	padding-top: 55px;
}

.contentPanel #searchFormTable {
	background-color: #FFFFFF;
	padding: 10px;
	border-bottom: 1px solid #d5d9dc;
}

.contentPanel #searchFormTable>table td {
	padding: 10px;
}

.contentPanel #dataTable-box {
    position: relative;
}

.contentPanel #dataTable-box .dataTable {
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.contentPanel #dataTable-box .dataTable #viewHtml {
	position: relative;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contentPanel #dataTable-box .dataTable #viewHtml thead {
	font-weight: bold;
	background-color: #f4f5f5;
}

.contentPanel #dataTable-box .dataTable #viewHtml table {
    margin-bottom: 0px;
    max-width: auto;
}

.contentPanel #dataTable-box .dataTable #viewHtml .table-head {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
}

.contentPanel #dataTable-box .dataTable #viewHtml .table-body tr:last-child td{
    border-bottom: none;
}

/*------workflow------*/

#workflow-history-panel {
	background: #ffffff;
}

#workflow-history-panel>.nav-tabs>li {
	width: 50%;
}
#workflow-history-panel>.nav-tabs>li:last-child {
	border-right:0px;
}
#workflow-history-panel>.nav-tabs>li>a {
    color: #92a1ab;
    margin-right: 0px;
    border-top: 0px;
    border-right-color: #ddd;
    border-radius: 0px;
}
#workflow-history-panel>.nav-tabs>li:last-child>a {
    border-right: 0px;
}
#workflow-history-panel>.nav-tabs>li:last-child>a:hover {
	border-left-color: transparent;
	border-bottom-color: #02bb00;
}

#workflow-history-panel>.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}
#workflow-history-panel>.nav-tabs>li.active>a, 
#workflow-history-panel>.nav-tabs>li.active>a:focus, 
#workflow-history-panel>.nav-tabs>li.active>a:hover {
    color: #02bb00;
    border-left-color: transparent;
    border-bottom-color: #02bb00;
    border-top-color: transparent;
    border-radius: 0px;
}
#workflow-history-panel>.tab-content>.tab-pane{
	overflow: auto;
	padding: 15px;
	height: 439px;
}
#workflow-history-panel>.tab-content>.tab-pane .flowhistory-tab {
	margin-bottom: 15px;
}
#workflow-history-panel>.tab-content>.tab-pane .flowhistory-tab .btn-default {
	color: #92a1ab;
}
#workflowimage table{
	font-size: 12px;
}
#workflowimage img{
	width: 100%;
}
#workflowhistory .flowhistory-tab:after {
	content:"";
	display:block;
	clear:both;
}
#workflowhistory .flowhistory-title {
	padding: 15px;
} 
#workflowhistory .flowhistory-title .glyphicon{
	background-color: #606060;
    padding: 8px;
    color: #fff;
    border-radius: 100px;
    margin-right: 10px;
} 
#workflowhistory .flowhistory-title .flowhistory-totaltime{
    margin-left: 10px;
} 
#workflowhistory table{
	font-size: 12px;
}
#workflowhistory table td{
	vertical-align: middle;
	padding: 20px;
}
#workflowhistory table img{
	width: 50px;
}
#workflowhistory #reverse .reverse-list{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}
#workflowhistory #reverse .reverse-list .reverse-time {
	line-height:50px;
	width: 80px;
}
#workflowhistory #reverse .reverse-list .reverse-face {
	padding: 10px;
	position: relative;
	background-color: #fff;
}
#workflowhistory #reverse .reverse-list .reverse-face .reverse-face-line {
	display: block;
    width: 1px;
    height: 25px;
    border-left: 1px solid #DBDBDB;
    position: absolute;
    left: 50%;
    margin-top: 5px;
}
#workflowhistory #reverse .reverse-list .reverse-face .noAvatar {
	width: 36px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    border-radius: 100px;
    background: #428bcb;
    height: 36px;
    margin: 0px auto;
}
#workflowhistory #reverse .reverse-list .reverse-face .avatar {
	width: 36px;
    height: 36px;
    border-radius: 4px;
}
#workflowhistory #reverse .reverse-list .reverse-content {
	flex: 1;
	position: relative;
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 15px;
}

#workflowhistory #reverse .reverse-list .reverse-popover {
	font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif","PingHei", "Lucida Grande", "Helvetica","Arial","Verdana";
	font-size: 12px;
}

#workflowhistory #reverse .reverse-list .popover {
   max-width: 580px;
}

#workflowhistory #reverse .reverse-list .reverse-popover span{
	display: inline-block;
	vertical-align: middle;
}

#workflowhistory #reverse .reverse-list .reverse-popover .reverse-startNode {
	margin-right: 5px;
	max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#workflowhistory #reverse .reverse-list .reverse-popover .reverse-flowOperation {
    padding: 2px 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

#workflowhistory #reverse .reverse-list .reverse-popover .reverse-targetNode {
    margin-left: 5px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#workflowhistory #reverse .reverse-list .reverse-popover .reverse-line {
    width: 30px;
    height: 1px;
    background-color: #ccc;
}


#workflowhistory #reverse .reverse-list .reverse-content .glyphicon {
	font-size: 14px;
    vertical-align: bottom;
    padding: 5px;
    border-radius: 100px;
}
#workflowhistory #reverse .reverse-list .reverse-content .reverse-txt {
	margin-top: 15px;
	position: relative;
}

#workflowhistory #reverse .reverse-list .reverse-content .reverse-txt .reverse-attitude {
	line-height: 20px;
    overflow: hidden;
    padding-right: 30px;
}

#workflowhistory #reverse .reverse-list .reverse-content .reverse-txt .reverse-attitude-arrow{
	padding: 3px 10px;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#workflowhistory #reverse .reverse-list .reverse-content .reverse-txt .reverse-attitude-arrow:hover{
	
}

#workflowhistory #reverse .reverse-list .reverse-content .reverse-signature{
	
}

#workflowhistory #reverse .reverse-list .reverse-content img {
	width: 100px;
}
/*----��ʱ��дǩ�²鿴----*/
#signatureImage-preview {
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: #fff;
    overflow: auto;
    display: none;
}

#signatureImage-preview .signatureImage-panel{
	height: 100%;
    text-align: center;
    display: table;
    width: 100%;
}

#signatureImage-preview .signatureImage-panel .signatureImage-pic{
	display: table-cell;
    vertical-align: middle;
}

#signatureImage-preview img{
	min-width: 50%;
}

/*-----------iconfont------------*/

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont-h5.eot');
  src: url('../fonts/iconfont-h5.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont-h5.woff') format('woff'),
  url('../fonts/iconfont-h5.ttf') format('truetype'),
  url('../fonts/iconfont-h5.svg#iconfont') format('svg');
}

.iconfont-h5 {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*��ǰ*/
.iconfont-e055:before {
	content: "\e055";
}
/*����*/
.iconfont-e056:before {
	content: "\e056";
}
/*�ָ�*/
.iconfont-e057:before {
	content: "\e057";
}
/*����*/
.iconfont-e058:before {
	content: "\e058";
}
/*��ת*/
.iconfont-e059:before {
	content: "\e059";
}
/*���*/
.iconfont-e060:before {
	content: "\e060";
}
/*������ʷ*/
.iconfont-e061:before {
	content: "\e061";
}
/*ʱ����*/
.iconfont-e062:before {
	content: "\e062";
}
/*�б�*/
.iconfont-e063:before {
	content: "\e063";
}
/*����ͼ*/
.iconfont-e064:before {
	content: "\e064";
}
/*�س�*/
.iconfont-e065:before {
	content: "\e065";
}


.icon-09bb07{
	color: #09bb07;
}
.icon-8c8c8c{
	color: #8c8c8c;
}
.icon-f76260{
	color: #f76260;
}
.icon-ff6600{
	color: #ff6600;
}
.icon-10aeff{
	color: #10aeff;
}
.icon-418ad0{
	color: #418ad0;
}
.icon-ffc107{
	color: #ffc107;
}

/**/
.component-input, .component-select {
    display: inline-block;
    width: auto;
}

td.listDataThFirstTd {
    width: 40px;
}

/*loading*/
#tabsLoading {
    position: absolute;
    background-image: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
/*loading - view*/
#loadingDivBack {
	position: absolute; 
	z-index: 50; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
	background-color:#ccc; 
	filter: alpha(opacity = 0.1); 
	opacity: 0.1;
}
#loadingDivBack>div {
	position: absolute;
	top: 35%;
	left: 45%;
	width: 128px;
	height: 128px;
	z-index: 100;
}

.listDataTr td {
	border-bottom: 1px solid #ddd;
}

#content-space {
	padding-top: 10%;
}
#content-space .content-space-pic {
	width: 100%;
    font-size:80px;
    text-align: center;
    color: #adadad;
}
#content-space .content-space-txt {
	width: 100%;
    font-size:22px;
    text-align: center;
    color: #adadad;
    margin-bottom:18px;
}
#content-space .content-space-txt1 {
	width: 100%;
    font-size:14px;
    text-align: center;
    color: #adadad;
}

/*----btn----*/
.btn-primary-o {
	color: #337ab7;
	background: #fff;
    border-color: #2e6da4;
}
.btn-primary-o:hover {
    color: #fff;
    background: #337ab7;
}
.btn-success-o {
	color: #5cb85c;
	background: #fff;
    border-color: #4cae4c;
}
.btn-success-o:hover {
    color: #fff;
    background: #5cb85c;
}
.btn-info-o {
	color: #5bc0de;
	background: #fff;
    border-color: #46b8da;
}
.btn-info-o:hover {
    color: #fff;
    background: #5bc0de;
}
.btn-warning-o {
	color: #f0ad4e;
	background: #fff;
    border-color: #eea236;
}
.btn-warning-o:hover {
    color: #fff;
    background: #f0ad4e;
}
.btn-danger-o {
	color: #d9534f;
	background: #fff;
    border-color: #d43f3a;
}
.btn-danger-o:hover {
    color: #fff;
    background: #d9534f;
}


