HTML {
	
}
BODY {
	
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,Helvetica,sans-serif
}
FIELDSET {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
ABBR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
ACRONYM {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.txt_underline {
	TEXT-DECORATION: underline
}
A:link {
	COLOR: #0068b7; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0068b7; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0075cd; TEXT-DECORATION: underline
}
.IcoUpload {
	BACKGROUND-IMAGE: url(../images/upload.gif); BACKGROUND-REPEAT: no-repeat
}
HTML > BODY .Btn {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; outline: none
}
.Btn:focus:unknown {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
.Btn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #000 1px solid; CURSOR: hand; COLOR: #333; PADDING-TOP: 6px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: "����"; HEIGHT: 24px; BACKGROUND-COLOR: #fff; margin-top: 3px;
}
.BtnNml {
	BACKGROUND-POSITION: 0px -96px
}
.BtnHv {
	BACKGROUND-POSITION: 0px -128px
}
.Btn:hover {
	BACKGROUND-POSITION: 0px -128px
}
HTML > BODY .BtnDw {
	PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-TOP: 2px
}
INPUT.BtnDw {
	BACKGROUND: #fff; COLOR: #000
}
.ImpBtn {
	FONT-WEIGHT: bold
}
.ABtn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 12px; BACKGROUND-POSITION: 0px -96px; BORDER-TOP: #000 1px solid; DISPLAY: block; PADDING-LEFT: 12px; FLOAT: left; BORDER-LEFT: #000 1px solid; LINE-HEIGHT: 22px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 24px; outline: none
}
.ABtn:link {
	COLOR: #333; TEXT-DECORATION: none
}
.ABtn:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.ABtn:hover {
	BACKGROUND-POSITION: 0px -128px; COLOR: #333; TEXT-DECORATION: none
}
.Ipt {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial; HEIGHT: 21px; BACKGROUND-COLOR: #fff
}
.IptOnF {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial; HEIGHT: 21px; BACKGROUND-COLOR: #fff
}
.IptNml {
	
}
.IptOnF {
	COLOR: #000; BACKGROUND-COLOR: #ffffe1
}
HTML > BODY .Sel {
	
}
HTML > BODY .SelA {
	
}
.gSchBar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.gSchBar .gSchBtn {
	BACKGROUND-POSITION: -512px -128px; DISPLAY: block; MARGIN: 0px; WIDTH: 20px; HEIGHT: 20px
}
.gSchBar .gSchBtn:hover {
	BACKGROUND-POSITION: -512px -160px
}
.gSchBar .gSchIpt {
	BORDER-RIGHT: medium none; MARGIN: 0px; COLOR: #999; HEIGHT: 20px
}
.gSchBar .IptOnF {
	COLOR: #000
}
.gQSmbBar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.gQSmbBar .gQSmbBtn {
	BACKGROUND-POSITION: -544px -128px; DISPLAY: block; MARGIN: 0px; WIDTH: 20px; HEIGHT: 20px
}
.gQSmbBar .gQSmbBtn:hover {
	BACKGROUND-POSITION: -544px -160px
}
.gQSmbBar .gQSmbIpt {
	BORDER-RIGHT: medium none; MARGIN: 0px; COLOR: #999; HEIGHT: 20px
}
.gQSmbBar .IptOnF {
	COLOR: #000
}
.gQCnlBtn {
	BACKGROUND-POSITION: -576px -128px; DISPLAY: block; MARGIN: 0px; WIDTH: 20px; HEIGHT: 20px
}
.gQCnlBtn:hover {
	BACKGROUND-POSITION: -576px -160px
}
.fLe {
	FLOAT: left
}
.fRi {
	FLOAT: right
}
.hide {
	DISPLAY: none
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; BACKGROUND-COLOR: transparent
}
.wd {
	WIDTH: 100%
}
.Unable {
	COLOR: #999
}
.HideFocus {
	outline: none
}
.fnt_Red {
	COLOR: #e60012
}
.fnt_Red:link {
	COLOR: #e60012
}
.fnt_Red:visited {
	COLOR: #e60012
}
.fnt_Red:hover {
	COLOR: #e60012
}
.fnt_Red A:link {
	COLOR: #e60012
}
.fnt_Red A:visited {
	COLOR: #e60012
}
.fnt_Red A:hover {
	COLOR: #e60012
}
.fnt_Green {
	COLOR: #009944
}
.fnt_Green:link {
	COLOR: #009944
}
.fnt_Green:visited {
	COLOR: #009944
}
.fnt_Green:hover {
	COLOR: #009944
}
.fnt_Green A:link {
	COLOR: #009944
}
.fnt_Green A:visited {
	COLOR: #009944
}
.fnt_Green A:hover {
	COLOR: #009944
}
.uFDtl_msg_scan {
	COLOR: #009944
}
.fnt_Blue {
	COLOR: #00b7ee
}
.fnt_Blue:link {
	COLOR: #00b7ee
}
.fnt_Blue:visited {
	COLOR: #00b7ee
}
.fnt_Blue:hover {
	COLOR: #00b7ee
}
.fnt_Blue A:link {
	COLOR: #00b7ee
}
.fnt_Blue A:visited {
	COLOR: #00b7ee
}
.fnt_Blue A:hover {
	COLOR: #00b7ee
}
.fnt_Black {
	COLOR: #000
}
.fnt_Black:link {
	COLOR: #000
}
.fnt_Black:visited {
	COLOR: #000
}
.fnt_Black:hover {
	COLOR: #000
}
.fnt_Black A:link {
	COLOR: #000
}
.fnt_Black A:visited {
	COLOR: #000
}
.fnt_Black A:hover {
	COLOR: #000
}
.fnt_Dcr {
	COLOR: #777
}
.fnt_S12 {
	FONT-SIZE: 12px
}
.fnt_S14 {
	FONT-SIZE: 14px
}
.fnt_S16 {
	FONT-SIZE: 16px
}
.fnt_chinese {
	FONT-FAMILY: "����"
}
.fnt_Mark0 {
	COLOR: #000
}
A.fnt_Mark0:link {
	COLOR: #000
}
A.fnt_Mark0:visited {
	COLOR: #000
}
A.fnt_Mark0:hover {
	COLOR: #000
}
.fnt_Mark1 {
	COLOR: #990000
}
A.fnt_Mark1:link {
	COLOR: #990000
}
A.fnt_Mark1:visited {
	COLOR: #990000
}
A.fnt_Mark1:hover {
	COLOR: #990000
}
.fnt_Mark2 {
	COLOR: #006600
}
A.fnt_Mark2:link {
	COLOR: #006600
}
A.fnt_Mark2:visited {
	COLOR: #006600
}
A.fnt_Mark2:hover {
	COLOR: #006600
}
.fnt_Mark3 {
	COLOR: #e38800
}
A.fnt_Mark3:link {
	COLOR: #e38800
}
A.fnt_Mark3:visited {
	COLOR: #e38800
}
A.fnt_Mark3:hover {
	COLOR: #e38800
}
.fnt_Mark4 {
	COLOR: #26a5a8
}
A.fnt_Mark4:link {
	COLOR: #26a5a8
}
A.fnt_Mark4:visited {
	COLOR: #26a5a8
}
A.fnt_Mark4:hover {
	COLOR: #26a5a8
}
.fnt_Mark5 {
	COLOR: #ff6699
}
A.fnt_Mark5:link {
	COLOR: #ff6699
}
A.fnt_Mark5:visited {
	COLOR: #ff6699
}
A.fnt_Mark5:hover {
	COLOR: #ff6699
}
.fnt_Mark6 {
	COLOR: #003399
}
A.fnt_Mark6:link {
	COLOR: #003399
}
A.fnt_Mark6:visited {
	COLOR: #003399
}
A.fnt_Mark6:hover {
	COLOR: #003399
}
.fnt_Mark7 {
	COLOR: #996600
}
A.fnt_Mark7:link {
	COLOR: #996600
}
A.fnt_Mark7:visited {
	COLOR: #996600
}
A.fnt_Mark7:hover {
	COLOR: #996600
}
.fnt_Mark8 {
	COLOR: #993399
}
A.fnt_Mark8:link {
	COLOR: #993399
}
A.fnt_Mark8:visited {
	COLOR: #993399
}
A.fnt_Mark8:hover {
	COLOR: #993399
}
.fnt_Mark15 {
	COLOR: #333
}
A.fnt_Mark15:link {
	COLOR: #333
}
A.fnt_Mark15:visited {
	COLOR: #333
}
A.fnt_Mark15:hover {
	COLOR: #333
}
A.fnt_Mark0:link {
	TEXT-DECORATION: none
}
A.fnt_Mark0:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark1:link {
	TEXT-DECORATION: none
}
A.fnt_Mark1:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark2:link {
	TEXT-DECORATION: none
}
A.fnt_Mark2:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark3:link {
	TEXT-DECORATION: none
}
A.fnt_Mark3:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark4:link {
	TEXT-DECORATION: none
}
A.fnt_Mark4:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark5:link {
	TEXT-DECORATION: none
}
A.fnt_Mark5:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark6:link {
	TEXT-DECORATION: none
}
A.fnt_Mark6:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark7:link {
	TEXT-DECORATION: none
}
A.fnt_Mark7:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark8:link {
	TEXT-DECORATION: none
}
A.fnt_Mark8:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark15:link {
	TEXT-DECORATION: none
}
A.fnt_Mark15:visited {
	TEXT-DECORATION: none
}
A.fnt_Mark0:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark1:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark2:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark3:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark4:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark5:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark6:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark7:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark8:hover {
	TEXT-DECORATION: underline
}
A.fnt_Mark15:hover {
	TEXT-DECORATION: underline
}
.Ico16x {
	LINE-HEIGHT: 16px; HEIGHT: 16px
}
.Ico_Mark0 {
	BACKGROUND-POSITION: 16px 16px
}
.Ico_Mark1 {
	BACKGROUND-POSITION: -296px -8px
}
.Ico_Mark2 {
	BACKGROUND-POSITION: -328px -8px
}
.Ico_Mark3 {
	BACKGROUND-POSITION: -360px -8px
}
.Ico_Mark4 {
	BACKGROUND-POSITION: -392px -8px
}
.Ico_Mark5 {
	BACKGROUND-POSITION: -424px -8px
}
.Ico_Mark6 {
	BACKGROUND-POSITION: -456px -8px
}
.Ico_Mark7 {
	BACKGROUND-POSITION: -488px -8px
}
.Ico_Mark8 {
	BACKGROUND-POSITION: -520px -8px
}
.Ico_Mark15 {
	BACKGROUND-POSITION: -552px -8px
}
.icoSendOk {
	BACKGROUND-POSITION: -422px -73px; WIDTH: 24px
}
.icoSending {
	BACKGROUND-POSITION: -454px -73px; WIDTH: 24px
}
.icoSendUnk {
	BACKGROUND-POSITION: -486px -73px; WIDTH: 24px
}
.icoSendFailure {
	BACKGROUND-POSITION: -518px -73px; WIDTH: 24px
}
.icoSend {
	BACKGROUND-POSITION: -550px -73px; WIDTH: 24px
}
.icoSendALL {
	
}
BODY.All_C_Page {
	PADDING-RIGHT: 0px; OVERFLOW-Y: auto; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 7px 13px; PADDING-TOP: 0px
}
.ContentWp {
	MARGIN: 0px
}
.gToolbar {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
.gToolbar .Btn {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .BtnHv {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .ABtn {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .ImpBtn {
	MARGIN-RIGHT: 16px
}
HTML > BODY .gToolbar .Sel {
	MARGIN-TOP: 3px
}
HTML > BODY .gToolbar .SelA {
	MARGIN-TOP: 3px
}
.gToolbar .Sel {
	MARGIN-TOP: 2px; FLOAT: left; OVERFLOW: hidden; WIDTH: 94px; MARGIN-RIGHT: 10px; margin-top: 10px; height: 20px;
}
.gToolbar .SelA {
	MARGIN-TOP: 2px; FLOAT: left; OVERFLOW: hidden; WIDTH: 94px; MARGIN-RIGHT: 10px
}
.gToolbar .SelA {
	WIDTH: auto
}
.SelOptLine {
	COLOR: #ccc
}
.SelInTT {
	COLOR: #999
}
.gToolbar .Ipt {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .IptOnF {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .Txt {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .Extra {
	FLOAT: right; WHITE-SPACE: nowrap
}
.gToolbar .gSchBar {
	MARGIN-TOP: 2px
}
.gTbrTop {
	MARGIN-BOTTOM: 10px
}
.gTbrBtm {
	MARGIN-TOP: 10px
}
.gTbrSmb {
	PADDING-LEFT: 190px
}
.gTbrSmb .ImpBtn {
	MARGIN-RIGHT: 24px
}
.Hr {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 0px
}
.HrSub {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 0px
}
.HrSub2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 0px
}
.Hr HR {
	DISPLAY: none
}
.HrSub HR {
	DISPLAY: none
}
.HrSub2 HR {
	DISPLAY: none
}
.gTitle {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 26px; POSITION: relative; HEIGHT: 26px
}
.gTitle .gArrow {
	FONT-FAMILY: '����'
}
.gTitle .mTT {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.gTitle .mDcr {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; COLOR: #777
}
.gTitle .Extra {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.gTitleSub {
	MARGIN: 8px 0px 4px; LINE-HEIGHT: 26px; POSITION: relative; HEIGHT: 26px
}
.gTitleSub .gArrow {
	FONT-FAMILY: '����'
}
.gTitleSub .mTT {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.gTitleSub .mDcr {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; COLOR: #777
}
.gTitleSub .Extra {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.gTips {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; BORDER-LEFT: #333 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 4px; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #eee
}
.gTips .icoCls {
	BACKGROUND-POSITION: -74px -9px; MARGIN-TOP: 2px; DISPLAY: block; FLOAT: right; WIDTH: 12px; LINE-HEIGHT: 12px; MARGIN-RIGHT: -4px; POSITION: relative; HEIGHT: 12px
}
.gTips .icoCls:hover {
	BACKGROUND-POSITION: -74px -41px
}
.gTips .icoTips {
	BACKGROUND-POSITION: -104px -8px; DISPLAY: block; LEFT: -1px; FLOAT: left; WIDTH: 16px; POSITION: relative; TOP: 0px; HEIGHT: 16px
}
.gTips .icoInfo {
	BACKGROUND-POSITION: -104px -8px; DISPLAY: block; LEFT: -1px; FLOAT: left; WIDTH: 16px; POSITION: relative; TOP: 0px; HEIGHT: 16px
}
.gTips .icoInfo {
	BACKGROUND-POSITION: -136px -72px
}
.gTips .IcoLoading {
	BACKGROUND-POSITION: 0px 0px
}
.gTips .icoSendALL {
	BACKGROUND-POSITION: -582px -71px; MARGIN-LEFT: -2px; WIDTH: 20px
}
.Tips_Nml {
	BORDER-RIGHT: #ddddb8 1px solid; BORDER-TOP: #ddddb8 1px solid; BORDER-LEFT: #ddddb8 1px solid; COLOR: #6d6500; BORDER-BOTTOM: #ddddb8 1px solid; BACKGROUND-COLOR: #ffffe1
}
.Tips_Scs {
	BORDER-RIGHT: #d5e2c7 1px solid; BORDER-TOP: #d5e2c7 1px solid; BORDER-LEFT: #d5e2c7 1px solid; COLOR: #007130; BORDER-BOTTOM: #d5e2c7 1px solid; BACKGROUND-COLOR: #f1ffe3
}
.Tips_War {
	BORDER-RIGHT: #e6cfcf 1px solid; BORDER-TOP: #e6cfcf 1px solid; BORDER-LEFT: #e6cfcf 1px solid; COLOR: #a40000; BORDER-BOTTOM: #e6cfcf 1px solid; BACKGROUND-COLOR: #ffeaea
}
.Tips_War .icoTips {
	BACKGROUND-POSITION: -104px -72px
}
.Tips_Nml_C {
	COLOR: #777
}
.Tips_Nml_C B {
	COLOR: #000
}
.gTable {
	MARGIN: 12px 0px; WIDTH: 100%
}
.gTable TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; LINE-HEIGHT: 26px; PADDING-TOP: 6px
}
.gTable TH {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; LINE-HEIGHT: 26px; PADDING-TOP: 6px
}
.gTable TH {
	PADDING-RIGHT: 18px; WIDTH: 160px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.gTable .Sel {
	MARGIN-TOP: 1px
}
.gTable .SelA {
	MARGIN-TOP: 1px
}
.gTable .HrWp {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 2px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 2px; PADDING-TOP: 6px; HEIGHT: auto
}
.gTable .Ipt {
	WIDTH: 180px
}
.gTable .IptOnF {
	WIDTH: 180px
}
.gCBgWp {
	
}
.MsgPageWp {
	MARGIN-TOP: 60px; MARGIN-BOTTOM: 16px; TEXT-ALIGN: center
}
.ErrorPageWp {
	MARGIN-TOP: 60px; MARGIN-BOTTOM: 16px; TEXT-ALIGN: center
}
.gSysWin_Wp {
	MARGIN-LEFT: auto; WIDTH: 460px; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
.gSysWin_WpIn {
	
}
.gSW_TT_Wp {
	HEIGHT: 28px
}
.gSW_TT_tb {
	WIDTH: 100%; CURSOR: default; HEIGHT: 28px
}
.LftCorner {
	BACKGROUND-POSITION: -256px -128px; WIDTH: 27px
}
.MidTxt {
	BACKGROUND-POSITION: 0px -704px; FONT-WEIGHT: bold; COLOR: #fff
}
.RigCorner {
	BACKGROUND-POSITION: -319px -128px; WIDTH: 27px
}
.RigCorner A {
	BACKGROUND-POSITION: -287px -160px; DISPLAY: block; WIDTH: 27px; HEIGHT: 28px
}
.RigCorner A:hover {
	BACKGROUND-POSITION: -319px -160px
}
.gSW_Con_WpIn {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid
}
.gSW_Footer_WpIn {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid
}
.gSW_Con_Wp {
	WIDTH: 100%; BACKGROUND-COLOR: #fff
}
.gSW_Con_WpIn {
	BORDER-TOP: medium none; BORDER-BOTTOM: medium none
}
.SW_Ico_Wp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; WIDTH: 0px; PADDING-TOP: 20px
}
.SW_Ico_Wp .SW_Ico {
	BACKGROUND-POSITION: -384px -128px; DISPLAY: block; MARGIN-LEFT: 20px; WIDTH: 32px; HEIGHT: 32px; px: 
}
.SW_Con_Wp {
	PADDING-RIGHT: 26px; PADDING-LEFT: 26px; FONT-SIZE: 14px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
.gSW_mCon {
	LINE-HEIGHT: 22px
}
.gSW_mCon TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; LINE-HEIGHT: 26px; PADDING-TOP: 4px
}
.gSW_mCon TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; LINE-HEIGHT: 26px; PADDING-TOP: 4px
}
.gSW_mCon TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; WIDTH: 130px; TEXT-ALIGN: right
}
.gSW_mCIn_Wide {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden; MARGIN: -16px -26px; WIDTH: 458px; HEIGHT: 180px
}
.gSW_Footer_Wp {
	WIDTH: 100%
}
.gSW_Footer_WpIn {
	BORDER-TOP: medium none; HEIGHT: 50px
}
.gSW_Footer_WpIn .Btn {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-RIGHT: 16px
}
.gSW_Footer_WpIn .gSW_ftTips {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 12px
}
.gSW_Footer_WpIn .fnt_Dcr DIV {
	COLOR: #777
}
.gSysFla {
	WIDTH: 250px
}
.gSysFla .gSW_Footer_WpIn {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.gSysFla .gSysFla_Info_Wp {
	TEXT-ALIGN: center
}
.gSysFla .gSysFla_Info_Wp .AutoScl {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden; WIDTH: 248px; HEIGHT: 146px; TEXT-ALIGN: left
}
.gSysFla_Info_Wp .Info_Msg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 16px
}
.gSysFla_Info_Wp .Info_MailTT {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 16px; WIDTH: 220px; PADDING-TOP: 4px
}
HTML > BODY .gSysFla_Info_Wp .Info_MailTT {
	OVERFLOW: hidden; WORD-BREAK: break-all; WHITE-SPACE: nowrap
}
* HTML .gSysFla_Info_Wp .Info_MailTT {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; empty-cells: show
}
.gSysFla_Info_Wp P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 18px; PADDING-TOP: 6px
}
.gSysFla_Info_Wp .Info_MailNm {
	DISPLAY: block; WIDTH: 230px
}
HTML > BODY .gSysFla_Info_Wp SPAN.Info_MailNm {
	OVERFLOW: hidden; WORD-BREAK: break-all; WHITE-SPACE: nowrap
}
* HTML .gSysFla_Info_Wp .Info_MailNm {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; empty-cells: show
}
.gSysFla_mCon {
	
}
.a_Sel_Line {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: left
}
.a_Sel_Line:link {
	COLOR: #000; TEXT-DECORATION: none
}
.a_Sel_Line:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.a_Sel_Line:hover {
	BACKGROUND: #ffffe1; COLOR: #000; TEXT-DECORATION: underline
}
.Er_Bck {
	MARGIN-BOTTOM: 10px; WIDTH: 560px
}
.Er_Bck .SW_Ico_Wp .SW_Ico {
	BACKGROUND-POSITION: -1504px -64px; WIDTH: 68px; HEIGHT: 68px
}
.Er_Bck .gSW_mCon .mConIn {
	MARGIN-TOP: 18px; FONT-SIZE: 12px
}
.Er_Bck .gSW_mCon OL {
	MARGIN-LEFT: 26px
}
.Er_Bck .gSW_mCon UL {
	MARGIN-LEFT: 26px
}
.Er_Bck .gSW_mCon OL LI {
	MARGIN: 8px 0px; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: decimal
}
.Er_Bck .gSW_mCon UL LI {
	MARGIN: 8px 0px; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: decimal
}
.Er_Bck .gSW_mCon UL LI {
	LIST-STYLE-TYPE: square
}
.Er_Bck .gSW_mCon OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
.Er_Bck .gSW_Footer_WpIn {
	TEXT-ALIGN: center
}
.Er_Bck .gSW_Footer_WpIn .Btn {
	FLOAT: none
}
.Er_Bck .gSW_Footer_WpIn .gSW_ftTips {
	DISPLAY: none
}
.ifr_lstAddr_Wp {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 6px 0px 14px; BORDER-LEFT: #ccc 1px solid; WIDTH: 250px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 140px
}
.lstAddr_Wp {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden; WIDTH: 250px; HEIGHT: 140px
}
.tbAddrLst {
	TABLE-LAYOUT: fixed
}
.tbAddrLst TD {
	FONT-SIZE: 12px; CURSOR: hand; LINE-HEIGHT: 24px; BORDER-BOTTOM: #f4f4f4 1px solid; HEIGHT: 24px
}
.tbAddrLst TD.tdIco {
	WIDTH: 22px
}
.tbAddrLst TD.tdTxt {
	OVERFLOW: hidden; WIDTH: 230px; WORD-BREAK: break-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; empty-cells: show
}
.tbAddrLst TD B.icoCmdOK {
	DISPLAY: none; WIDTH: 14px
}
.tbAddrLst TR.Selected {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffffca
}
.tbAddrLst TR.Selected TD B.icoCmdOK {
	DISPLAY: block; MARGIN-LEFT: 4px; WIDTH: 14px; COLOR: green
}
.tbAddrLst TR.OnFocus {
	BACKGROUND-COLOR: #ffffe1
}
.lstAddrG_Wp {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; OVERFLOW-Y: auto; OVERFLOW-X: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 250px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 140px
}
TABLE.tbAddrGLst {
	TABLE-LAYOUT: fixed
}
TABLE.tbAddrGLst TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; CURSOR: hand; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #f4f4f4 1px solid; HEIGHT: 24px
}
TABLE.tbAddrGLst TD.tdChk {
	WIDTH: 24px; TEXT-ALIGN: center
}
TABLE.tbAddrGLst TD.tdTxt {
	OVERFLOW: hidden; WIDTH: 230px; WORD-BREAK: break-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; empty-cells: show
}
TABLE.tbAddrGLst TR.Selected {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffffca
}
TABLE.tbAddrGLst TR.OnFocus {
	BACKGROUND-COLOR: #ffffe1
}
.tb_AtAddrL {
	TABLE-LAYOUT: fixed
}
.tb_AtAddrL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tb_AtAddrL TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tb_AtAddrL TD.td_C {
	WIDTH: 190px
}
.tb_AtAddrL TD.td_I {
	VERTICAL-ALIGN: middle; WIDTH: 26px; TEXT-ALIGN: center
}
.tb_AtAddrL TD.td_I .IcoImg {
	BACKGROUND-POSITION: -808px -8px; MARGIN: auto; WIDTH: 16px; HEIGHT: 16px
}
.tCCm {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 305px
}
.NoUsePadding {
	HEIGHT: 90px
}
BODY.idx_Frame {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
TABLE.idx_Tb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.idx_Tb TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.idx_Tb TD.idx_Td_Head {
	HEIGHT: 70px
}
TABLE.idx_Tb TD.idx_Td_Sidebar {
	WIDTH: 194px
}
TABLE.idx_Tb TD.idx_Td_Main {
	
}
.idx_ifr_Main {
	OVERFLOW-Y: auto
}
.HeadWp {
	OVERFLOW: hidden; HEIGHT: 70px
}
.HeadThemeWp {
	
}
.HeadWpInner {
	BACKGROUND-POSITION: -1376px 38px; POSITION: relative; HEIGHT: 70px
}
.Logo {
	LEFT: 19px; WIDTH: 168px; POSITION: absolute; TOP: 16px; HEIGHT: 32px
}
IMG.imgLogo {
	
}
.UserInfo {
	DISPLAY: block; LEFT: 219px; WIDTH: 450px; LINE-HEIGHT: 22px; POSITION: absolute; TOP: 11px; HEIGHT: 22px
}
.SearchBar {
	DISPLAY: block; RIGHT: 9px; WIDTH: 200px; POSITION: absolute; TOP: 33px; HEIGHT: 20px; TEXT-ALIGN: right
}
.SchBtn {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -512px 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 22px; CURSOR: hand; BORDER-BOTTOM: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
.SchMenuBtn {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -512px 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 22px; CURSOR: hand; BORDER-BOTTOM: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
.SchMenuBtn {
	BACKGROUND-POSITION: -534px 0px; WIDTH: 12px
}
.SchBtnHv {
	BACKGROUND-POSITION: -512px -64px
}
.SchBtn:hover {
	BACKGROUND-POSITION: -512px -64px
}
.SchMenuBtnHv {
	BACKGROUND-POSITION: -534px -64px
}
.SchMenuBtn:hover {
	BACKGROUND-POSITION: -534px -64px
}
.SearchBar .Ipt {
	BORDER-RIGHT: medium none; HEIGHT: 20px
}
.SearchBar .IptOnF {
	BORDER-RIGHT: medium none; HEIGHT: 20px
}
.SearchBar .Ipt {
	COLOR: #999
}
.HeadWp .Extra {
	DISPLAY: block; RIGHT: 10px; WIDTH: 200px; POSITION: absolute; TOP: 8px; HEIGHT: 22px; TEXT-ALIGN: right
}
.HeadWp .InfoTips {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; LEFT: 40%; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; POSITION: absolute; TOP: 36px; HEIGHT: 22px; TEXT-ALIGN: center
}
.HeadWp .InfoTips A:link {
	COLOR: #fff
}
.HeadWp .InfoTips A:visited {
	COLOR: #fff
}
.HeadWp .InfoTips A:hover {
	COLOR: #fff
}
.HeadWp .InfoTips B.cnL {
	BACKGROUND-POSITION: -1376px -64px; DISPLAY: block; LEFT: 0px; WIDTH: 6px; POSITION: absolute; TOP: 0px; HEIGHT: 22px
}
.HeadWp .InfoTips B.cnR {
	BACKGROUND-POSITION: -1434px -64px; RIGHT: 0px; WIDTH: 6px; POSITION: absolute; TOP: 0px; HEIGHT: 22px
}
.HeadWp .InfoTips SPAN.Txt {
	PADDING-RIGHT: 18px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f19600
}
.HeadWp .InfoTips_Nml {
	
}
.HeadWp .InfoTips_Scs {
	
}
.HeadWp .InfoTips_Scs B.cnL {
	BACKGROUND-POSITION: -1376px -96px
}
.HeadWp .InfoTips_Scs B.cnR {
	BACKGROUND-POSITION: -1434px -96px
}
.HeadWp .InfoTips_Scs SPAN.Txt {
	BACKGROUND-COLOR: #00a01a
}
.HeadWp .InfoTips_War {
	
}
.HeadWp .InfoTips_War B.cnL {
	BACKGROUND-POSITION: -1376px -128px
}
.HeadWp .InfoTips_War B.cnR {
	BACKGROUND-POSITION: -1434px -128px
}
.HeadWp .InfoTips_War SPAN.Txt {
	BACKGROUND-COLOR: #e00011
}
.SidebarBdWp {
	OVERFLOW: hidden
}
.SidebarBdWp A:link {
	outline: none
}
.SidebarBdWp A:visited {
	outline: none
}
.SidebarBdWp A:hover {
	outline: none
}
.SidebarWp {
	WIDTH: 194px; HEIGHT: 100%
}
.SidebarThemeWp {
	HEIGHT: 100%
}
.SidebarWpInner {
	
}
.tbSb {
	TABLE-LAYOUT: fixed
}
.tbSbTop {
	HEIGHT: 45px
}
.tbSbMid {
	VERTICAL-ALIGN: top
}
.BigBtnWp {
	BACKGROUND-POSITION: -256px 0px; POSITION: relative; HEIGHT: 45px
}
.BigBtnWp B {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 14px; LEFT: 46px; PADDING-BOTTOM: 0px; CURSOR: hand; LINE-HEIGHT: 16px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 16px
}
HTML > BODY .BigBtnWp B {
	TOP: 9px
}
* HTML .BigBtnWp B {
	TOP: 11px
}
.BigBtnWp A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.BigBtnWp A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.BigBtnWp A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.BigBtnWp A.aShouXIN {
	DISPLAY: block; WIDTH: 93px; POSITION: absolute; HEIGHT: 37px
}
.BigBtnWp A.aXieXIN {
	DISPLAY: block; WIDTH: 93px; POSITION: absolute; HEIGHT: 37px
}
.BigBtnWp A.aShouXIN {
	BACKGROUND-POSITION: -260px 0px; LEFT: 4px; TOP: 0px
}
.BigBtnWp A.aXieXIN {
	BACKGROUND-POSITION: -353px 0px; LEFT: 97px; TOP: 0px
}
.BigBtnWp A.aShouXIN:hover {
	BACKGROUND-POSITION: -260px -64px
}
.BigBtnWp A.aXieXIN:hover {
	BACKGROUND-POSITION: -353px -64px
}
.Sb_ConWp {
	OVERFLOW: hidden; PADDING-TOP: 8px; HEIGHT: 100%
}
.Sb_ConWpIn {
	HEIGHT: 1px
}
HTML > BODY .Sb_ConWpIn {
	HEIGHT: auto
}
.PanelWp {
	
}
.PanelTT {
	POSITION: relative; HEIGHT: 32px
}
.PanelTT {
	COLOR: #777
}
.PanelTT A:link {
	COLOR: #777
}
.PanelTT A:visited {
	COLOR: #777
}
.PanelTT A:hover {
	COLOR: #777
}
.PanelTT A:hover {
	COLOR: #000
}
.PanelTT .icoOpCls {
	DISPLAY: block; LINE-HEIGHT: 30px; HEIGHT: 32px
}
.PanelTT .TTxt {
	DISPLAY: block; LINE-HEIGHT: 30px; HEIGHT: 32px
}
.PanelTT .Extra {
	DISPLAY: block; LINE-HEIGHT: 30px; HEIGHT: 32px
}
.PanelTT .icoOpCls {
	LEFT: 2px; WIDTH: 22px; POSITION: absolute; TOP: 3px; HEIGHT: 22px
}
.icoOpen {
	BACKGROUND-POSITION: -4px -4px
}
.icoOpen:hover {
	BACKGROUND-POSITION: -4px -36px
}
.icoClose {
	BACKGROUND-POSITION: -36px -4px
}
.icoClose:hover {
	BACKGROUND-POSITION: -36px -36px
}
.icoCls {
	BACKGROUND-POSITION: -36px -4px
}
.icoCls:hover {
	BACKGROUND-POSITION: -36px -36px
}
.PanelTT .TTxt {
	LEFT: 23px; WIDTH: 122px; POSITION: absolute; TOP: 0px
}
.PanelTT .Extra {
	PADDING-LEFT: 4px; LEFT: 140px; WIDTH: 54px; POSITION: absolute; TOP: 0px
}
.PanelCon {
	
}
.PanelCon UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.PanelCon LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.PanelCon LI {
	FONT-SIZE: 1px; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px
}
.PanelCon LI A {
	DISPLAY: block; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 28px; HEIGHT: 30px
}
.PanelCon LI A:link {
	COLOR: #000
}
.PanelCon LI A:visited {
	COLOR: #000
}
.PanelCon LI A:hover {
	COLOR: #000
}
.PanelCon LI A.fileItem {
	PADDING-LEFT: 23px; LEFT: 0px; WIDTH: 100%; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 0px
}
.PanelCon LI A.lnkMore:link {
	COLOR: #777
}
.PanelCon LI A.lnkMore:visited {
	COLOR: #777
}
.PanelCon LI A.lnkMore:hover {
	COLOR: #000
}
.JQ {
	DISPLAY: block; FLOAT: left; WIDTH: 114px; CURSOR: hand
}
HTML > BODY .JQ {
	OVERFLOW: hidden; WORD-BREAK: break-all; WHITE-SPACE: nowrap
}
* HTML .JQ {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; empty-cells: show
}
.PanelCon LI.On A.fileItem {
	BACKGROUND-POSITION: -608px 0px
}
.PanelCon LI.New A.fileItem {
	FONT-WEIGHT: bold
}
.PanelCon LI .Extra {
	DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 12px; LEFT: 140px; WIDTH: 54px; COLOR: #777; LINE-HEIGHT: 30px; POSITION: absolute; TOP: 0px; HEIGHT: 32px
}
.PanelCon LI .Extra A {
	DISPLAY: inline; LINE-HEIGHT: 30px
}
.PanelCon LI .Extra A:link {
	COLOR: #777
}
.PanelCon LI .Extra A:visited {
	COLOR: #777
}
.PanelCon LI .Extra A:hover {
	COLOR: #777
}
.PanelCon LI .Extra A:hover {
	COLOR: #000
}
.PanelCon LI.On .Extra A:link {
	
}
.PanelCon LI.On .Extra A:visited {
	
}
.PanelCon LI.On .Extra A:hover {
	
}
.PanelCon LI .icoFld {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 888; LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 16px; PADDING-TOP: 0px; POSITION: absolute; TOP: 6px; HEIGHT: 16px
}
.PanelCon .Fld_Inbox .icoFld {
	BACKGROUND-POSITION: -8px -328px
}
.PanelCon .Fld_Drafts .icoFld {
	BACKGROUND-POSITION: -40px -328px
}
.PanelCon .Fld_Send .icoFld {
	BACKGROUND-POSITION: -72px -328px
}
.PanelCon .Fld_Trash .icoFld {
	BACKGROUND-POSITION: -104px -328px
}
.PanelCon .Fld_Adver .icoFld {
	BACKGROUND-POSITION: -136px -328px
}
.PanelCon .Fld_Spam .icoFld {
	BACKGROUND-POSITION: -168px -328px
}
.PanelCon .Fld_Addr .icoFld {
	BACKGROUND-POSITION: -200px -328px
}
.PanelCon .Fld_NetDisk .icoFld {
	BACKGROUND-POSITION: -232px -328px
}
.PanelCon .pslFld_More {
	HEIGHT: 16px
}
.PanelCon .pslFld_More A.aPslMore {
	DISPLAY: block; LINE-HEIGHT: 16px; HEIGHT: 16px; TEXT-ALIGN: center
}
.PanelCon .pslFld_More .icoOpCls {
	DISPLAY: block; MARGIN: 0px auto; WIDTH: 16px; CURSOR: hand; HEIGHT: 16px
}
.PslMr_Open A.aPslMore .icoOpCls {
	BACKGROUND-POSITION: -8px -360px
}
.PslMr_Open A.aPslMore:hover .icoOpCls {
	BACKGROUND-POSITION: -8px -392px
}
.PslMr_Cls A.aPslMore .icoOpCls {
	BACKGROUND-POSITION: -40px -360px
}
.PslMr_Cls A.aPslMore:hover .icoOpCls {
	BACKGROUND-POSITION: -40px -392px
}
.Panel_PslFld .PanelCon LI A.fileItem {
	
}
.Sb_Line {
	BACKGROUND-POSITION: -608px -124px; FONT-SIZE: 1px; LINE-HEIGHT: 11px; HEIGHT: 11px
}
.PanelScl {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden
}
A.letterOn {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
A.letterOn:hover {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
A.letterOn:visited {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
.Cmp_txlbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 184px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #fff
}
.Cmp_TBtit A {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: 0px solid; WIDTH: 91px; LINE-HEIGHT: 27px; BORDER-BOTTOM: 1px solid; HEIGHT: 27px; TEXT-ALIGN: center
}
.Cmp_TBtit A.on {
	FONT-WEIGHT: bold; BORDER-BOTTOM-COLOR: #fff; COLOR: #000; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.Cmp_TBtit A.on:link {
	COLOR: #000; TEXT-DECORATION: none
}
.Cmp_TBtit A.on:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.Cmp_TBtit A.on:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.Cmp_Rtxlser {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid; POSITION: relative; HEIGHT: 35px; TEXT-ALIGN: center
}
.Cmp_Rtxlser .gSchBar {
	FLOAT: left
}
.Cmp_Rtxlser .icoAdd {
	BACKGROUND-POSITION: -864px 0px; DISPLAY: block; RIGHT: 7px; WIDTH: 16px; POSITION: absolute; TOP: 9px; HEIGHT: 16px
}
.Cmp_Rtxlser .icoAdd:hover {
	BACKGROUND-POSITION: -864px -32px
}
.Cmp_Rtxl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 2px auto; OVERFLOW: auto; WIDTH: 182px; PADDING-TOP: 0px; HEIGHT: 375px
}
.Cmp_tSchRzWp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 2px auto; OVERFLOW: auto; WIDTH: 182px; PADDING-TOP: 0px; HEIGHT: 375px
}
.tCCm .Cmp_Rtxl {
	WIDTH: 188px
}
.tCCm .Cmp_tSchRzWp {
	WIDTH: 188px
}
.Cmp_RTtit {
	MARGIN: 2px auto; OVERFLOW: hidden; LINE-HEIGHT: 21px; HEIGHT: 21px
}
.Cmp_RTtit A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Cmp_RTtit A.Cmp_Stxz {
	FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap; HEIGHT: 21px
}
.Cmp_RTtit A.Cmp_Stxz:link {
	COLOR: #333; TEXT-DECORATION: none
}
.Cmp_RTtit A.Cmp_Stxz:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.Cmp_RTtit A.Cmp_Stxz:hover {
	COLOR: #333; TEXT-DECORATION: none
}
.Cmp_RTtit A.Cmp_Stxz:hover {
	COLOR: #000
}
.Cmp_RTtit .IcoImg {
	DISPLAY: block; FLOAT: left; WIDTH: 16px; HEIGHT: 21px
}
A.Cmp_r {
	BACKGROUND-POSITION: -40px -5px
}
A.Cmp_r:hover {
	BACKGROUND-POSITION: -40px -37px
}
A.Cmp_d {
	BACKGROUND-POSITION: -8px -5px
}
A.Cmp_d:hover {
	BACKGROUND-POSITION: -8px -37px
}
.Cmp_RTcont {
	
}
.Cmp_RTcont A {
	CLEAR: both; DISPLAY: block; PADDING-LEFT: 16px; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.Cmp_RTcont A:link {
	COLOR: #666; TEXT-DECORATION: none
}
.Cmp_RTcont A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.Cmp_RTcont A:hover {
	COLOR: #666; TEXT-DECORATION: none
}
.Cmp_RTcont A:hover {
	COLOR: #000
}
.Cmp_RTcont A.IcoImg {
	BACKGROUND-POSITION: 14px -325px; TEXT-INDENT: 23px
}
.Cmp_RTcont A.IcoImg:visited {
	BACKGROUND-POSITION: 14px -325px; TEXT-INDENT: 23px
}
.Cmp_RTcont A.UnUse {
	COLOR: #ccc
}
.Cmp_RTcont A.UnUse:visited {
	COLOR: #ccc
}
.Cmp_RTcont A.UnUse:hover {
	COLOR: #ccc
}
.UnUse .tSchRz_iName {
	COLOR: #ccc
}
.UnUse .tSchRz_iEmail {
	COLOR: #ccc
}
.Cmp_RtISmp {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden; HEIGHT: 303px
}
TABLE.Cmp_RtI {
	TABLE-LAYOUT: fixed; CURSOR: hand; BORDER-BOTTOM: #eee 1px solid
}
TABLE.Cmp_RtI_Hv {
	
}
TABLE.Cmp_RtI TD.RtITT {
	PADDING-LEFT: 4px; FONT-SIZE: 12px; OVERFLOW: hidden; COLOR: #666; LINE-HEIGHT: 24px; WHITE-SPACE: nowrap; HEIGHT: 24px
}
TABLE.Cmp_RtI TD.Extra {
	FONT-SIZE: 12px; WIDTH: 46px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
DIV.Cmp_tSchRzWp {
	
}
.tSchRz_gTT {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #666; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
DIV.Cmp_tSchRzWp TD.tSchRz_Item {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.tSchRz_iName {
	OVERFLOW: hidden; LINE-HEIGHT: 14px; WHITE-SPACE: nowrap
}
DIV.tSchRz_iEmail {
	FONT-SIZE: 11px; OVERFLOW: hidden; COLOR: #999; LINE-HEIGHT: 14px; WHITE-SPACE: nowrap
}
.upFlDtlLst {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 8px 0px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
.upFlDtlLst INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 16px; BORDER-BOTTOM: 0px; HEIGHT: 16px; BACKGROUND-COLOR: transparent
}
.upFlDtlLst INPUT.Cmp_suc {
	BACKGROUND-POSITION: -104px -8px
}
.upFlDtlLst INPUT.icoAtch {
	BACKGROUND-POSITION: -136px -8px
}
.upFlDiv {
	MARGIN: 4px 0px 0px; WIDTH: 120px
}
.upFlBar {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.ctn {
	BORDER-RIGHT: #fafafa 1px solid; BORDER-TOP: #fafafa 1px solid; OVERFLOW: hidden; BORDER-LEFT: #fafafa 1px solid; BORDER-BOTTOM: #fafafa 1px solid; HEIGHT: 6px
}
.upFlDiv2 {
	WIDTH: 190px
}
.upFlDiv2 .upFlBar {
	WIDTH: 190px
}
.upFLEroIco {
	BACKGROUND-POSITION: -136px -72px
}
.popDtlLst {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 8px 0px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
.PopAc {
	MARGIN-BOTTOM: 4px; LINE-HEIGHT: 18px; HEIGHT: 18px
}
.popStatus {
	MARGIN-BOTTOM: 4px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.popDtlLst INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 16px; BORDER-BOTTOM: 0px; HEIGHT: 16px; BACKGROUND-COLOR: transparent
}
.popDtlLst INPUT.icoScs {
	BACKGROUND-POSITION: -104px -8px
}
.popDtlLst INPUT.icoAtch {
	BACKGROUND-POSITION: -136px -8px
}
.popDiv {
	MARGIN: 4px 0px 0px; WIDTH: 120px
}
.popBar {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.ctn {
	BORDER-RIGHT: #fafafa 1px solid; BORDER-TOP: #fafafa 1px solid; OVERFLOW: hidden; BORDER-LEFT: #fafafa 1px solid; BORDER-BOTTOM: #fafafa 1px solid; HEIGHT: 6px
}
.popDiv2 {
	WIDTH: 240px
}
.popDiv2 .popBar {
	WIDTH: 240px
}
.popEroIco {
	BACKGROUND-POSITION: -136px -72px
}

.leftBg {
	/*background-image:url('../images/f1.gif');*/
	background: #EEF0F2;
	width: 100%;
}
.folderBg {
	/*background-image:url('../images/f1.gif');*/
	background: #EEF0F2;
	width: 100%;
}
