html{height:100%;}
#right { position: relative; min-height: 100%; }
#right .fc_topFix {height: 60px; position: fixed; z-index: 10; width: 100%; background: #fff;}

.con_right {margin: 3px 15px 0 14px;/*padding-top: 60px;*/ height:100%;}
.launch { 
	background-color: #FFFFFF; 
	border-top:none;
	padding-top: 10px;
	padding-bottom: 50px;
}
.launch .title { 
	height: 46px; 
	font-size: 24px; 
	line-height: 46px; 
	border-bottom: solid 2px #e5e5e5;
	border-top: solid 2px #e5e5e5; 
	color: #6b6b6b;
}
.launch .title i {font-size: 28px; margin:0px 10px;}



.noApp {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif","PingHei", "Lucida Grande", "Helvetica","Arial","Verdana"
	color: #666;
	padding-left: 20px;
}

.menu_dl{
display:none;
}

.top_border{
	border-top: 3px solid #2a91da;
}

.launch .app_Title {
  height: 46px;
  font-size: 16px;
  line-height: 46px;
  color: #6b6b6b;
  display: -webkit-box;
}

.launch .app_Title .title_line {
-webkit-box-flex: 1;
border-top:1px solid #b0b0b0;
  margin: 23px 20px 0px;
  height: 1px;
}



.launch .app_Title i {
  font-size: 28px;
  margin: 0px 10px;
}

.launch .app_List {
	padding: 0 10px;
}

.launch .app_List span {
	display: block;
    text-align: center;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
        width: 25%;
    margin-bottom: 10px;
        padding: 0 2px;
}
.launch .app_List span:hover {

  background: url(../images/appList_hov.png) center no-repeat;
}
.launch .app_List span.active {

  background: url(../images/appList_act.png) center no-repeat;
}

.launch .app_List span i.menuLiIcon .iconfont-menu-01 {
	color: #fff;
    border-radius: 5px;
    background-color: #00B42A;
    width: 100%;
    height: 100%;
}
.launch .app_List span i.menuLiIcon .iconfont-menu-02 {
	color: #fff;
    border-radius: 5px;
    background-color: #FF9D00;
    width: 100%;
    height: 100%;
}
.launch .app_List span i.menuLiIcon .iconfont-menu-00 {
	color: #fff;
    border-radius: 5px;
    background-color: #0076C1;
    width: 100%;
    height: 100%;
}
.launch .app_List span i.menuLiIcon .iconfont-menu-01:before,
.launch .app_List span i.menuLiIcon .iconfont-menu-02:before,
.launch .app_List span i.menuLiIcon .iconfont-menu-00:before {
	font-size: 35px;
    line-height: 50px;
}

.launch .app_List span i.menuLiIcon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px auto;
    position: relative;
    cursor: pointer;
}

.launch .app_List span i.menuLiArrow {
	display: block;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 64px;
  background: url('resource/images/Triangle.png')
}

.launch .app_List span i.menuLiTxt{
	font-style: normal;
	  cursor: pointer;
	  font-size: 12px;
	      width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app_List span img{
	height: 50px;
	width: 50px;
}

.launch .app_List span img.menuLiArrow {
    height: 10px;
    width: 10px;
    position: absolute;
    left: 28px;
    top: 28px;
}



.clearfix:after{
display:block;
width:0px;
height:0px;
overflow: hidden;
content:".";
clear:both;
}

.second_menu_box{
border-top: 1px solid #2a91da;
margin-top: 10px;
  padding-top: 10px;
}

.third_menu_box{
	font-size: 12px; 
    border-top: 1px solid #2a91da;
  margin-top: 10px;
  padding-top: 10px;
}




.launch .menu { width: 50%; padding: 10px; }
.launch .menu .menu-title { height: 36px; line-height: 36px; font-size: 16px; /*border-bottom: solid 1px #e5e5e5;*/ color: #6b6b6b }
.launch .menu .menu-title i {
	font-size: 24px; 
	margin-right: 5px
}
.launch .menu li { float: left; width: 50%; margin: 8px 0 }
.launch .menu li a { font-size: 14px; height: 24px; line-height: 24px; margin: 0 24px; position: relative; display: block; color: #969696 }
.launch .menu li a:hover { color: #22aae9 }
.launch .menu li a i { display: block; width: 24px; height: 24px; position: absolute; }
.launch .menu li a i.ico-menuli { background: url(../images/ico_con_menu_li.png) no-repeat 0 0; left: -24px }
.launch .menu li a i.ico-arr { background: url(../images/ico_con_menu_li.png) no-repeat -24px 0; right: -24px }

.launch-tab{
	background: url(../images/launch-tab-bg.png) center repeat;
	border: none;
}
.launch-tab>li.active>a, .launch-tab>li.active>a:focus, .launch-tab>li.active>a:hover {
    color: #2d2d2d;
    cursor: default;
    background-color: #fff;
    border:none;
    border-bottom-color: transparent;
}
.launch-tab>li {
    float: left;
    margin-bottom: 0px;
}
.launch-tab>li>a{
	padding:0;
	margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 0 0 0 0;
}
.launch-tab>li>a:focus,.launch-tab>li>a:hover {
    text-decoration: none;
    background-color: #eee;
    border-radius: 0 0 0 0;
}